<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="textbox" id="data">
      <div class="innerbox">
        <div id="messages">
          {{ response }}
        </div>
      </div>
      <form action="/form" id = "formID">
        <fieldset>
         <label id="title" for="response">ChatBot</label><br>
          <input type="hidden" id="storedData" name="storedData"> 
          <input type="text" name="response" id="response">
          <input id="send" type="submit" value="Send"/><br>
          <label for="response">Talk to ChatBot and he'll try his best to respond!</label>
        </fieldset>
      </form>
    </div>
  </body>
</html>

