<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="">
      <div class="innerbox">
        <div class = "text">
          {{response}}
        </div>
      </div>
      <form action = /form>
        <fieldset>
          <legend>Chat Bot</legend>
          <input type="text" name="response" id="response" size="80%"><br>
          <label for="response">Ask the bot any Question.</label>
        </fieldset>
      </form>
    </div>
  </body>
</html>